{{!-- Character Sheet Header --}}
<header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
        </h1>
        
        <div class="resource-row">
            {{!-- Job Selection --}}
            <div class="resource">
                <label class="resource-label">Job</label>
                <select name="system.job">
                    {{#select system.job}}
                    {{#each config.jobs as |job jobKey|}}
                    <option value="{{jobKey}}">{{job.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            
            {{!-- Level --}}
            <div class="resource">
                <label class="resource-label">Level</label>
                <input type="number" name="system.level" value="{{system.level}}" 
                       min="1" max="100" data-dtype="Number"/>
            </div>
        </div>
    </div>
</header>
